img {
  width: 100%;
}

body {
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.navbarcustom {
  height: 10vh;
  max-height: 10vh; /* height of the navbar */
}

.navbar-brand-logo {
  background: url("./img/avl.png") no-repeat;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 10vw;
  max-height: 10vh; /* height of the navbar */
}

.signup {
  margin: 25px;
}

.sidebarlogo-area {
  width: 30%;
  float: left;
  padding-bottom: 2px;
}

.mapArea {
  float: left;
}

.mapArea-logo {
  background: url("./img/avl.png") no-repeat;
  width: 100%;
  vertical-align: middle;
}

.landing {
  position: relative;
  background: url("./img/image.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
}

.map-tool-container {
  position: absolute;
  top: 0;
  right: 0;
  /* background: url("./img/avl.png"); */
  background-size: cover;
  background-position: center;
  max-width: 12vw;
  max-height: 10vh;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 100;
  transition: width 2s, height 4s;
}

.map-tool-container:hover {
  opacity: 1;
}

.landing-inner {
  padding-top: 80px;
}

/* .map {
  min-height: 90vh;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  left: -20px;
  background-size: cover;
} */

.map {
  border-left: 1px solid #fff;
  position: relative;
  height: 100vh;
}

.pop-up {
  background-color: rgb(139, 187, 230);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pad2 {
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  padding: 5%;
  /* border-right: 5px solid rgba(0, 0, 0, 0.25); */
}

.heading {
  background: #fff;
  border-bottom: 1px solid black;
  max-height: 10vh;
  padding: 3%;
  margin: 0px;
  flex-wrap: none;
}

.listings {
  max-height: 90vh;
  position: relative;
  display: block;
  overflow: auto;
}

.listings .item {
  display: block;
  position: relative;
  border-bottom: 1px solid rgb(189, 189, 189);
  padding: 10px;
  text-decoration: none;
  line-height: 1;
}

.listings .item:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.listings .item .title {
  display: block;
  color: #4956e9;
  font-weight: 700;
  padding-bottom: 2%;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
  color: #010e9e;
}

.listings .item.active {
  background-color: #7ba1c2;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  border-right: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #7d82bd;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #323cb3;
  transition: width 2s, height 4s;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.mapboxgl-popup {
  padding-bottom: 50px;
}

.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  width: 180px;
  padding: 0;
}

.location-title {
  line-height: 2;
  margin: 0;
  text-align: center;
}

.mapboxgl-popup-content h3 {
  background: #7e85d8;
  color: #fff;
  display: block;
  padding: 2px;
  max-width: 75%;
}

.mapboxgl-popup-content h4 {
  background: #7e85d8;
  display: block;
  color: #fff;
  padding: 2px;
}

.mapboxgl-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(109, 43, 43);
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0;
  margin: 0 4% 0 0;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.no-pm {
  margin: 0px;
  padding: 0px;
}

.signup-btn {
  margin-top: 5%;
  margin-bottom: 20%;
}

.marker-rest {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(./img/marker/rest.png);
  background-color: rgba(0, 0, 0, 0);
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.input-group > .input-group-prepend {
  flex: 0 0 20%;
}
.input-group .input-group-text {
  width: 100%;
  padding: 0;
  padding-left: 0.375rem;
}

.coord-invalid-feedback {
  margin-left: 20%;
}

.sidebar {
  background-color: #d6dfe8;
}

.heading {
  background-color: inherit;
}

.prp10 {
  padding-right: 10%;
}

.style_dropdown {
  right: 75%;
  bottom: 1%;
}

.dropdown_width {
  width: 30%;
}

/* Animated Toaster */

#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: rgb(98, 106, 151);
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img {
  width: 50px;
  height: 50px;

  float: left;

  padding-top: 16px;
  padding-bottom: 16px;

  box-sizing: border-box;

  background-color: rgb(26, 63, 117);
  color: #fff;
}
#toast #desc {
  color: #fff;

  padding: 16px;

  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
    fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
    fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}
